.custom-scroll::-webkit-scrollbar {
    width: 5px;
}

.custom-scroll::-webkit-scrollbar-track {
    /* background: var(--text-primary); */
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}